@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto);

body,html {
  height: 100%;
  width: 100%;
}

html {
  margin: auto;
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  background-color: #eee;
  color: #444;
}

div.simple {
  width: calc(90% - 3em);
  background-color: #fff;
  margin: auto;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
  border-radius: 0.25em;
  padding: 1.5em;
  text-align: center;
}

div.small {
  max-width: 15em;
  min-width: 11em;
}

div.breaker {
  word-break: break-all;
}

div.text-box {
  text-align: left;
  width: calc(100% - 2.2em);
  /*left: 10px;*/
  /*opacity: 0.6;*/
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  font-family: Roboto, sans-serif;
  font-size: 10.5pt;
}

input.text {
  position: relative;
  width: calc(100% - 2.2em);
  border: 0.2em solid #888;
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em;
  height: 2em;
  border-radius: 0.25em;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 10.5pt;
  z-index: 1;
}

button {
  height: 2.25em;
  border: 0.2em solid #bbb;
  border-radius: 0.25em;
  background: #f8f8f8;
  color: #444;
  margin: 0.5em 0.25em;
  font-family: Roboto, sans-serif;
  font-size: 10.5pt;
}

button::-moz-focus-inner {
  border: 0;
}

.error {
  border: 0.2em solid #f77 !important;
  background-color: #fdd !important;
  color: #f55 !important;
}

.error-field {
  border: 0.2em solid #f77 !important;
}

.status {
  border: 0.2em solid #88f !important;
  background-color: #eef !important;
  color: #66f !important;
}

.merge-down {
  position: relative;
  margin-top: -1em !important;
  top: 1.5em !important;
  z-index: 0;
  padding-top: 0.2em !important;
}

.merge-up {
  position: relative;
  margin-bottom: -1em !important;
  bottom: 1.5em !important;
  z-index: 0;
  padding-bottom: 0.2em !important;
}

.merge-up-down {
  position: relative;
  margin-bottom: -1em !important;
  margin-top: -1em !important;
  z-index: 0;
}
